.bg-opacity-40 {
  background-color: rgba(0, 0, 0, 0.4);
}
.primary-color {
  color: #2e8b57;
}
.primary-bg-color {
  background-color: #2e8b57;
}

.secondary-color {
  color: #a7d129;
}
.secondary-bg-color {
  background-color: #30a114;
}

.extra-color {
  color: #1e90ff;
}
.extra-bg-color {
  background-color: #1e90ff;
}
.bg-color {
  background-color: #f5f5f5;
}
.text-color {
  color: #333;
}
